{% extends "base_generic.html" %}

{% block content %}
    <h1>Competition</h1>

    {% if competition %}
    <p>{{ competition.name }}</p> {{ competition.competition_start }}-{{ competition.competition_end }}

    <h2>Предстоящие события:</h2>
      <ul>
        {% for sport in sports %}
          <li>
            <a href="{% url 'sport'%}?id={{sport.id}}">{{ sport.name }}</a> ({{sport.description}})
          </li>
        {% endfor %}
      </ul>

    {% else %}
      <p>Competition not found..</p>
    {% endif %}
{% endblock %}