{% extends "base_generic.html" %}

{% block content %}
    {% if stage %}
      <h1>Этап: {{ stage.name }}</h1>

      <ul>
        Будет проходить: {{ stage.place }}, {{ stage.stage_date }}
        <div>
          {% if client_placed_bet %}
            Вы уже поставили ставку и, к сожалению, проиграли! ;( <br>
            Вы можете испытать удачу <a href="{% url 'stages' %}">ещё раз</a>.
          {% else %}
            <h3>Хотите сделать ставку на игру?</h3>
            <a href="{% url 'bet' %}?id={{stage.id}}">Да, поставить!</a>
          {% endif %}
        </div>
      </ul>

    {% else %}
      <p>Stage not found..</p>
    {% endif %}

    
{% endblock %}